@import './colors.scss';

body, #App, .app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  color: white;
  user-select: none;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "navbar navbar navbar" "sidebar main options";
  overflow: hidden;

  #navbar {
    grid-area: navbar;
  }

  #sidebar {
    grid-area: sidebar;
  }

  #main {
    grid-area: main;
  }

  #options {
    grid-area: options;
  }
}

.selected {
  background-color: $selected-color !important;
}

.selectable {
  cursor: pointer;

  &:hover {
    background-color: $hover-color !important;
  }
}