@import '../general/colors.scss';

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 465px;
  width: 100%;
  height: 100%;

  > .notifications {
    flex-shrink: 0;
    flex-grow: 0;

    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 18px;

    > div {
      grid-template-columns: [start] 1fr [bit] 1em [end];
      grid-template-rows: [start] 1fr [bit] 1em [end];
      display: grid;
      height: 100%;
      width: 100%;

      > svg {
        height: 90%;
        width: 90%;
        cursor: pointer;
        grid-column: start / span end;
        grid-row: start / span end;
      }

      > p {
        grid-column: bit / span end;
        grid-row: bit / span end;
        border-radius: 3px;
        background-color: #0fb9b1;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  > h1 {
    text-align: center;
    margin: 0;
    white-space: nowrap;
    color: white;
    flex-shrink: 0;
    flex-grow: 1;
    font-size: 2em;
  }

  > .refresh {
    flex-shrink: 0;
    border-style: solid;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 0;
    border-top-width: 0;
    border-color: white;
    border-bottom-left-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 38px;
    align-self: flex-start;

    > p {
      cursor: pointer;
      color: white;

      padding: 5px;
      margin: 0;
    }
  }
}