#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  > h1 {
    text-align: center;
    margin: 0;
    white-space: nowrap;
    color: white;
    flex-shrink: 0;
    flex-grow: 1;
  }

  > .refresh {
    flex-shrink: 0;
    border-style: solid;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 0;
    border-top-width: 0;
    border-color: white;
    border-bottom-left-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 38px;
    align-self: flex-start;

    > p {
      cursor: pointer;
      color: white;

      padding: 5px;
      margin: 0;
    }
  }
}