@import '../general/colors.scss';

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

p {
  margin: 0;
}

.enabled {
  background-color: #20bf6b !important;

  &:hover {
    background-color: #20bf6b !important;
  }
}
.disabled {
  background-color: #eb3b5a !important;

  &:hover {
    background-color: #eb3b5a !important;
  }
}

.warning {
  background-color: #eb3b5a !important;

  &:hover {
    background-color: #f91640 !important;
  }
}

#sidebar {
  overflow: hidden;
  display: flex;

  > div {
    height: 100%;
  }

  > .expand {
    width: 5px;
    cursor: ew-resize;
    background-color: white;
  }

  > .content {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    > .input {
      height: 40px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-shrink: 0;

      > input {
        width: 100%;
        cursor: pointer;
      }
    }

    > .export {
      height: 40px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-shrink: 0;

      > div {
        height: 38px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-shrink: 0;
        flex-grow: 1;
        border-top-width: 0;
        border-bottom-width: 2px;
        border-left-width: 2px;
        border-right-width: 0;
        border-color: white;
        border-style: solid;
      }
    }

    > .current-dir {
      height: calc(55% - 42px);
      flex-shrink: 0;
    }

    > .imageFunctions {
      height: 39px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-shrink: 0;

      > div {
        height: 35px;
        width: calc(33% - 4px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-left-width: 2px;
        border-top-width: 2px;
        border-bottom-width: 2px;
        border-right-width: 0;
        border-color: white;
        border-style: solid;
        flex-grow: 1;
      }

      .easyExport {
        flex-shrink: 1;
        flex-grow: 0;
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    > .safebox {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: white;
      flex-grow: 1;
    }

    > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      overflow-y: scroll;

      > div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .loading {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          border-color: white;
          border-style: inset;
          border-width: 4px;
          animation: rotate 2s linear infinite;
        }
      }

      > li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          user-select: none;
          color: white;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left:10px;
          white-space: nowrap;
          width: min-content;
          flex-shrink: 1;
          flex-grow: 1;
          overflow-x: hidden;
        }

        p:last-child {
          align-self: flex-end;
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 10px;
        }

        span {
          margin: 5px;

          p {
            margin: 0 !important;
            padding: 5px;
            border-radius: 2px;

            &:hover {
              background-color: #eb3b5a;
            }
          }
        }
      }
    }
  }
}