@keyframes loading-1 {
  0%, 25% {
    background-color: rgba(0,0,0,0);
  }
  26%, 50% {
    background-color: white;
  }
  51%, 75% {
    background-color: white;
  }
  76%, 100% {
    background-color: white;
  }
}

@keyframes loading-2 {
  0%, 25% {
    background-color: rgba(0,0,0,0);
  }
  26%, 50% {
    background-color: rgba(0,0,0,0);
  }
  51%, 75% {
    background-color: white;
  }
  76%, 100% {
    background-color: white;
  }
}

@keyframes loading-3 {
  0%, 25% {
    background-color: rgba(0,0,0,0);
  }
  26%, 50% {
    background-color: rgba(0,0,0,0);
  }
  51%, 75% {
    background-color: rgba(0,0,0,0);
  }
  76%, 100% {
    background-color: white;
  }
}

#main {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "colors" "image";

  .image {
    img {
      max-width: 95%;
      max-height: 95%;
    }

    .loading {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      :nth-child(2) {
        animation: loading-1 2s linear infinite;
      }

      :nth-child(3) {
        animation: loading-2 2s linear infinite;
      }

      :nth-child(4) {
        animation: loading-3 2s linear infinite;
      }

      > div {
        width: 10px;
        height: 10px;
        background-color: rgba(0,0,0,0);
        border-radius: 2px;
        margin-left: 10px;
      }
    }
  }

  > .colors {
    grid-area: colors;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    > .colorOptions {
      > p {
        margin: 0;
        padding-bottom:5px;
      }

      > select {
        width: 100%;
        cursor: pointer;
      }
    }

    > .scale {
      > input {
        padding-left: 3px;
        width: 79px;
      }

      > p {
        width: 76px;
      }
    }

    > .selectable {
      border-style: solid;
      border-width: 2px;
      border-radius: 4px;

      > p {
        cursor: pointer;

        padding: 5px;
        margin: 0;
      }
    }
  }

  > .image {
    grid-area: image;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 95%;
      max-height: 95%;
      object-fit: contain;
    }
  }
}