@keyframes loading-1 {
  0%, 25% {
    background-color: rgba(0,0,0,0);
  }
  26%, 50% {
    background-color: white;
  }
  51%, 75% {
    background-color: white;
  }
  76%, 100% {
    background-color: white;
  }
}

@keyframes loading-2 {
  0%, 25% {
    background-color: rgba(0,0,0,0);
  }
  26%, 50% {
    background-color: rgba(0,0,0,0);
  }
  51%, 75% {
    background-color: white;
  }
  76%, 100% {
    background-color: white;
  }
}

@keyframes loading-3 {
  0%, 25% {
    background-color: rgba(0,0,0,0);
  }
  26%, 50% {
    background-color: rgba(0,0,0,0);
  }
  51%, 75% {
    background-color: rgba(0,0,0,0);
  }
  76%, 100% {
    background-color: white;
  }
}

#main.image {
  display: grid;
  grid-template-rows: calc(100vh - 200px) 100px;
  grid-template-columns: 1fr;
  grid-template-areas: "image" "info";

  .image {
    grid-area: image;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      max-width: 95%;
      max-height: 95%;
      object-fit: contain;
    }

    .loading {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      :nth-child(2) {
        animation: loading-1 2s linear infinite;
      }

      :nth-child(3) {
        animation: loading-2 2s linear infinite;
      }

      :nth-child(4) {
        animation: loading-3 2s linear infinite;
      }

      > div {
        width: 10px;
        height: 10px;
        background-color: rgba(0,0,0,0);
        border-radius: 2px;
        margin-left: 10px;
      }
    }
  }

  .image-info {
    grid-area: info;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    p {
      padding: 0;
      margin: 10px;
    }
  }
}